<div mat-dialog-title>
  <h3>Авторизация</h3>
</div>
<div mat-dialog-content>
  <p class="error" *ngIf="wrongCredentials">
    Логин и/или пароль неверны!
  </p>
  <div>
    <mat-form-field class="form-field-input">
      <input matInput [(ngModel)]="login" placeholder="Логин" name="login-input" [formControl]="loginFormControl">
      <mat-error *ngIf="loginFormControl.hasError('required')">
        Поле является обязательным!
      </mat-error>
      <mat-error *ngIf="!loginFormControl.hasError('required') && loginFormControl.hasError('minlength')">
        Длина должна быть минимум 5 символов!
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field-input">
      <input type="password" matInput [(ngModel)]="password" placeholder="Пароль" name="password-input" [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Поле является обязательным!
      </mat-error>
      <mat-error *ngIf="!passwordFormControl.hasError('required') && passwordFormControl.hasError('minlength')">
        Длина должна быть минимум 5 символов!
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onRegister()">Регистрация</button>
  <button mat-raised-button color="primary" (click)="onAuthorize()" cdkFocusInitial [disabled]="loginFormControl.invalid || passwordFormControl.invalid">Авторизация</button>
</div>
