<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Введите название или автора книги" [(ngModel)]="query" name="search">
    <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearch()" [disabled]="(!useLitres && !useOzon) || (query.length == 0) || isQuering">Найти</button>
  <div>
    <mat-checkbox [(ngModel)]="useLitres" name="litresCheckobox">Litres</mat-checkbox>
    <mat-checkbox [(ngModel)]="useOzon" name="ozonCheckbox">Ozon</mat-checkbox>
  </div>
  <div class="book-container">
    <div *ngIf="isQuering && !isReady; then isQueringBlock else isReadyBlock"></div>
    <ng-template #isQueringBlock>
      <mat-spinner></mat-spinner>
    </ng-template>
    <ng-template #isReadyBlock>
      <div *ngIf="!isError; then retrievedSuccessfully else retrievedWithError"></div>
      <ng-template #retrievedSuccessfully>
        <div *ngIf="isReady" class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> № </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{books.indexOf(element) + 1}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef> Автор </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row)" class="book-row"></mat-row>
        </mat-table>

        <!--<mat-paginator #paginator

          [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true"
                       [length]="dataSource.data.length"
        >
        </mat-paginator>-->
      </div>
      </ng-template>
      <ng-template #retrievedWithError>
        <mat-card>
          <mat-card-title>Ops, something went wrong!</mat-card-title>
          <mat-card-content>
            Please, contact with our administrator!
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-template>
  </div>
</form>
